<footer class="footer">
    <div class="footer__inner container">
        <div class="footer__body">
            <a class="footer__logo logo" href="/" aria-label="Home" title="Home">
                <svg width="48" height="58">
                    <use xlink:href="#logo" />
                </svg>
            </a>
            <nav class="footer__menu">
                <div class="footer__menu-column">
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="/index.html">Home</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="/services.html">Services</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="/abouts.html">About us</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="/offices.html">Offices</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="/team.html">Our team</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="/reviews.html">Reviews</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="footer__extra">
            <p class="footer__copyright">Viza Work Agency <time datetime="2025">2025</time>. All rights reserved.</p>
            <div class="footer__soc1als soc1als">
                <ul class="soc1als__list">
                    <li class="soc1als__item">
                        <a class="soc1als__link" href="/" target="_blank" aria-label="TikTok" title="TikTok">
                            <svg width="32" height="32">
                                <use href="#tiktok" />
                            </svg>
                        </a>
                    </li>
                    <li class="soc1als__item">
                        <a class="soc1als__link" href="/" target="_blank" aria-label="Facebook" title="Facebook">
                            <svg width="32" height="32">
                                <use href="#facebook" />
                            </svg>
                        </a>
                    </li>
                    <li class="soc1als__item">
                        <a class="soc1als__link" href="/" target="_blank" aria-label="LinkedIn" title="LinkedIn">
                            <svg width="32" height="32">
                                <use href="#linkedin" />
                            </svg>
                        </a>
                    </li>
                    <li class="soc1als__item">
                        <a class="soc1als__link" href="/" target="_blank" aria-label="Instagram" title="Instagram">
                            <svg width="32" height="32">
                                <use href="#instagram" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__developed">
                <a class="footer__developed-link" href="" target="_blank" rel="noopener noreferrer"
                    aria-label="Made by hand at K//O" title="Made by hand at K//O">
                    <svg width="182" height="24">
                        <use xlink:href="#developed" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>