<header class="header" data-js-header>
  <div class="header__body">
    <div class="header__body-inner container">
      <a class="header__logo logo" href="/" aria-label="Home" title="Home">
        <img
          class="d-block logo__icon"
          src="/assets/static/images/logo.svg"
          alt="Viza Work Agency logo"
        />
        <img
          class="d-none d-laptop-block logo__text"
          src="/assets/static/images/text.svg"
          alt="Viza Work Agency text logo"
        />
      </a>
      <div class="header__overlay" data-js-header-overlay>
        <nav class="header__menu d-tablet-none">
          <ul class="header__menu-list">
            <li class="header__menu-item">
              <a class="header__menu-link active" href="/index.html">Home</a>
            </li>
            <li class="header__menu-item">
              <a class="header__menu-link" href="/services.html">Services</a>
            </li>
            <li class="header__menu-item">
              <a class="header__menu-link dropdown__toggle" href="#"
                >Opened work
                <svg class="icon" width="22" height="22">
                  <use xlink:href="#chevron_down" />
                </svg>
              </a>
              <div class="dropdown">
                <ul class="dropdown__list">
                  <li class="dropdown__item">
                    <a class="dropdown__link" href="/country/all.html">
                      <img
                        width="24"
                        height="24"
                        src="../assets/static/icons/countries/globe.svg"
                        alt="globe icon"
                      />
                      All countries
                    </a>
                  </li>
                  <li class="dropdown__item">
                    <a class="dropdown__link" href="/country/germany.html">
                      <img
                        width="24"
                        height="24"
                        src="../assets/static/icons/countries/germany.svg"
                        alt="germany icon"
                      />
                      Germany
                    </a>
                  </li>
                  <li class="dropdown__item">
                    <a class="dropdown__link" href="/country/kyrgyzstan.html">
                      <img
                        width="24"
                        height="24"
                        src="../assets/static/icons/countries/kyrgyzstan.svg"
                        alt="kyrgyzstan icon"
                      />
                      Kyrgyzstan
                    </a>
                  </li>
                  <li class="dropdown__item">
                    <a class="dropdown__link" href="/country/serbia.html">
                      <img
                        width="24"
                        height="24"
                        src="../assets/static/icons/countries/serbia.svg"
                        alt="serbia icon"
                      />
                      Serbia
                    </a>
                  </li>
                  <li class="dropdown__item">
                    <a class="dropdown__link" href="/country/poland.html">
                      <img
                        width="24"
                        height="24"
                        src="../assets/static/icons/countries/poland.svg"
                        alt="poland icon"
                      />
                      Poland
                    </a>
                  </li>
                  <li class="dropdown__item">
                    <a class="dropdown__link" href="/country/turkey.html">
                      <img
                        width="24"
                        height="24"
                        src="../assets/static/icons/countries/turkey.svg"
                        alt="turkey icon"
                      />
                      Turkey
                    </a>
                  </li>
                  <li class="dropdown__item">
                    <a class="dropdown__link" href="/country/hungary.html">
                      <img
                        width="24"
                        height="24"
                        src="../assets/static/icons/countries/hungary.svg"
                        alt="hungary icon"
                      />
                      Hungary
                    </a>
                  </li>
                  <li class="dropdown__item">
                    <a
                      class="dropdown__link"
                      href="/country/czech-republic.html"
                    >
                      <img
                        width="24"
                        height="24"
                        src="../assets/static/icons/countries/czech-republic.svg"
                        alt="czech republic icon"
                      />
                      Czech Republic
                    </a>
                  </li>
                  <li class="dropdown__item">
                    <a class="dropdown__link" href="/country/ukraine-lviv.html">
                      <img
                        width="24"
                        height="24"
                        src="../assets/static/icons/countries/ukraine.svg"
                        alt="ukraine icon"
                      />
                      Ukraine (Lviv)
                    </a>
                  </li>
                  <li class="dropdown__item">
                    <a class="dropdown__link" href="/country/lithuania.html">
                      <img
                        width="24"
                        height="24"
                        src="../assets/static/icons/countries/lithuania.svg"
                        alt="lithuania icon"
                      />
                      Lithuania
                    </a>
                  </li>
                  <li class="dropdown__item">
                    <a class="dropdown__link" href="/country/portugal.html">
                      <img
                        width="24"
                        height="24"
                        src="../assets/static/icons/countries/portugal.svg"
                        alt="portugal icon"
                      />
                      Portugal
                    </a>
                  </li>
                  <li class="dropdown__item">
                    <a class="dropdown__link" href="/country/slovakia.html">
                      <img
                        width="24"
                        height="24"
                        src="../assets/static/icons/countries/slovakia.svg"
                        alt="slovakia icon"
                      />
                      Slovakia
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header__menu-item">
              <a class="header__menu-link" href="/about.html">About us</a>
            </li>
            <li class="header__menu-item">
              <a class="header__menu-link" href="/offices.html">Offices</a>
            </li>
            <li class="header__menu-item">
              <a class="header__menu-link" href="/team.html">Our team</a>
            </li>
            <li class="header__menu-item">
              <a class="header__menu-link" href="/reviews.html">Reviews</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__buttons">
        <div class="socials d-none d-laptop-block">
          <ul class="socials__list">
            <li class="socials__item">
              <a
                class="socials__link"
                href="/"
                target="_blank"
                aria-label="TikTok"
                title="TikTok"
              >
                <svg width="20" height="20">
                  <use xlink:href="#tiktok" />
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a
                class="socials__link"
                href="/"
                target="_blank"
                aria-label="Facebook"
                title="Facebook"
              >
                <svg width="20" height="20">
                  <use xlink:href="#facebook" />
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a
                class="socials__link"
                href="/"
                target="_blank"
                aria-label="LinkedIn"
                title="LinkedIn"
              >
                <svg width="20" height="20">
                  <use xlink:href="#linkedin" />
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a
                class="socials__link"
                href="/"
                target="_blank"
                aria-label="Instagram"
                title="Instagram"
              >
                <svg width="20" height="20">
                  <use xlink:href="#instagram" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <button class="button button-secondary m-small" href="#">
          Contact us
        </button>
        <button
          class="burger-button icon-button m-unstyled d-block d-laptop-none"
          type="button"
          aria-label="Open menu"
          title="Open menu"
          data-js-header-burger-button
        >
          <svg width="28" height="28">
            <use xlink:href="#hamburger" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
