@use "../helpers" as *;

.header {
  position: sticky;
  z-index: 100;
  top: 0;
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: rem(100) rem(200);

  @keyframes scrolling-header {
    to {
      box-shadow: 0 0 1rem 0 var(--color-dark-40);
    }
  }

  &__body {
    padding-block: 12px;
    background-color: transparent;

    @include mobile {
      padding-block: rem(20);
    }

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 1rem;
    }
  }

  &__overlay {
    @include mobile-above {
      display: contents;
    }

    @include mobile {
      position: fixed;
      inset: 0;
      display: flex;
      flex-direction: column;
      row-gap: 3rem;
      padding: 1rem;
      background-color: var(--color-light);
      transition-duration: var(--transition-duration);

      &:not(.active) {
        @include hide;

        translate: 100%;
      }
    }
  }

  &__menu {
    @include mobile {
      overflow-y: auto;
    }

    &-list {
      display: flex;
      align-items: center;

      @include mobile {
        flex-direction: column;
        row-gap: 1rem;
      }
    }

    &_item {
      position: relative;
      &:hover .dropdown {
        display: block;
      }
    }

    &-link {
      font-size: 16px;
      font-weight: 600;
      color: var(--color-grey);
      line-height: 22px;
      letter-spacing: 0.16px;
      padding: 7px 16px;

      @include hover {
        color: var(--color-dark);
        background-color: var(--color-grey-10);
        border-radius: var(--border-radius-btn);
      }

      &.active {
        font-weight: 700;
        color: var(--color-dark);
        pointer-events: none;
      }
    }

    .dropdown {
      position: absolute;
      display: none; //flex zone
      align-items: center;
      border-radius: 24px;
      background: var(--color-light);
      border: 1px solid rgba(37, 40, 44, 0.1);
      box-shadow: 8px 24px 40px 0 rgba(8, 8, 34, 0.08);

      .dropdown__list {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 8px;
        padding: 0;
        margin: 0;
        list-style: none;
      }

      .dropdown__item {
        display: flex;
        padding: 8px 12px;
        width: 300px;
      }

      .dropdown__link {
        display: flex;
        column-gap: 6px;
        align-items: center;
      }
    }

    .dropdown__toggle {
      &:hover .icon {
        transform: rotate(180deg);
      }
    }
  }

  &__buttons {
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }

  &__contact-us-link {
    @include mobile {
      width: 100%;
      align-self: center;
    }
  }
}
