@use "../helpers" as *;

.c-quick-filters {
  position: relative;
  display: flex;

  &__list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    gap: 12px;

    @include mobile {
      margin: 0 auto;
      flex-wrap: nowrap;
      overflow-x: auto;
      justify-content: flex-start;
      max-width: none;
    }
  }

  &__item {
    display: flex;
    gap: 8px;
    padding: 4px 10px 4px 4px;
    align-items: center;
    border-radius: 48px;
    border: 1px solid #d0d9e3;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #1b1b24;
    white-space: nowrap;

    &:hover {
      border: 1px solid #a5bacf;
      background-color: #f1f6fa;
    }

    img {
      max-width: none;
    }

    @include mobile {
      padding: 4px 10px 4px 4px;
      gap: 6px;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
    }
  }
}