.l-section {
  display: flex;
  margin-top: 60px;
  &__header {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.64px;
    margin-bottom: 24px;
    &.m-office {
      margin-bottom: 60px;
    }
  }
}
